@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  /* Primary colors */
  --linear-gradient-primary: linear-gradient(
    90deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --light-purple: hsl(236, 72%, 79%);
  --purple: hsl(237, 63%, 64%);

  /* Neutral colors */
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);

  /* Typography */
  --body-font-size: 1.5rem;
  --font-family: "Montserrat", sans-serif;
  --font-weight: 700;
}

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: var(--body-font-size);
  font-weight: var(--font-weight);
  background: var(--very-light-grayish-blue);
  color: var(--grayish-blue);
  min-height: 100vh;
  background-color: var(--very-light-grayish-blue);

  background-image: url(../public/images/bg-top.svg),
    url(../public/images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 33% 75%, 25% 40%;
}

.header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main {
  min-height: 75vh;
  display: flex;

  align-items: center;
  justify-content: center;
}

.card {
  width: 40rem;
  height: 50rem;

  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  padding: 3rem 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.card__tier {
  font-size: 1.8rem;
}

.card__price {
  font-size: 5.6rem;
  margin: 3rem 0;
  color: var(--dark-grayish-blue);
}

.card__features {
  width: 100%;
  margin-bottom: 3rem;
}

.card__feature {
  list-style: none;
  text-align: center;
  padding: 1.5rem;
  border-top: 1px solid var(--light-grayish-blue);
}

.card__feature:last-child {
  border-bottom: 1px solid var(--light-grayish-blue);
}

.button {
  padding: 1.5rem;
  width: 100%;
  background-image: var(--linear-gradient-primary);
  color: var(--very-light-grayish-blue);
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  letter-spacing: 0.25rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  background-image: none;
  background-color: var(--very-light-grayish-blue);
  border: 1px solid var(--purple);
  color: var(--purple);
}

/*PRO*/

.card--pro {
  height: 60rem;
  background-image: var(--linear-gradient-primary);
  color: var(--very-light-grayish-blue);
}
.card--pro .card__price {
  color: var(--very-light-grayish-blue);
}
.card--pro .button {
  background-image: none;
  background-color: var(--very-light-grayish-blue);
  color: var(--purple);
}
.card--pro .button:hover {
  background-image: var(--linear-gradient-primary);
  border: 1px solid var(--very-light-grayish-blue);
  color: var(--very-light-grayish-blue);
}

/*TOGGLE*/
.billing-toggle {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 2.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--linear-gradient-primary);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  right: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider:before {
  transform: translateX(-26px);
}

/*RESPOSIVE*/

@media (max-width: 1200px) {
  .card {
    width: 30rem;
    height: 45rem;
  }
  .card--pro {
    height: 50rem;
  }
}
@media (max-width: 900px) {
  body {
    background-size: 25% 25%, 25% 25%;
  }
  .main {
    flex-direction: column;
  }
  .card {
    width: 40rem;
    height: 50rem;
    margin-bottom: 5rem;
  }
}
@media (max-width: 400px) {
  body {
    background-size: 50% 100%, 10% 10%;
  }
  .card {
    width: 35rem;
  }
}
@media (max-width: 350px) {
  .card {
    width: 32.5rem;
  }
}
@media (max-width: 325px) {
  .card {
    width: 30rem;
  }
}
